.primary-emphasis {background-color: #0c0c14;}
.bprimary-emphasis{border-color: #0c0c14;}
.black {background-color: #000;}
.ugly-brown {background-color: #735c1c;}
.lata-amarelo:hover{border-color: yellow;}
.tblack{color: #000;}


body{font-family: "Roboto", sans-serif;}


.botao-personalizado {
    background-color: black; 
    border: 1px solid #000000; 
    color:#ffc107; }

.botao-personalizado:hover{background-color: #ffc107; 
    border: 1px solid #000; 
    color:#000000; 

}
    
.botao-fazerlogin:hover {color: black;
    background-color: #ffc107; 
    border-color: #000000; 
}

.botao-fazerlogin{
    background-color: dark; 
    border: 1px solid #ffc107; 
    color: #ffc107; }