*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html{font-size: 62.5%;}
body{font-size:  2rem;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
font-size-adjust: 1rem;}

fieldset{
    width: 50%;
    align-items: center;
    align-content: center;
    margin: 2rem;
    border: 1px solid #000;
    border-radius: 5px;  
    padding: 1rem;  
}
input{height: 25px;}

textarea{width: 80%;
height: 20rem;
padding: 2rem;
resize: none;
flex-direction: column;}

